.footer {
  max-width: 1600px;
  margin: auto;

  .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer_nav_list {
      list-style: none;
      max-width: 585px;
      height: 100px;
      margin: 0;
      display: flex;
      justify-content: stretch;
      align-items: stretch;

      .footer_nav_item a {
        @include font(400, 18px, 100px, 'Lato');
        @include text($color: $sec-text-color, $align: center, $decoration: none, $indent: 0, $transform: uppercase);
        display: block;
        padding: 0 25px;
        &:hover {
          color: #fff;
          background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
        }
      }
    }
  }

  .footer_lang-switch-list {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #f8f8f8;
    border: none;
    @include font(400, 18px, 1.56, 'Lato');
    @include text($color: $sec-text-color, $align: center, $decoration: none, $indent: 0, $transform: uppercase);
  }

  .dropdown-menu {
    width: 200px;
  }

  .show button {
    color: #fff;
    background-color: inherit;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
  }
}

@media screen and ($xs) {

}

@media screen and ($sm) {

}

@media screen and ($md) {
  .footer {
    .footer_nav {
      .footer_nav_list {
        padding: 0;
        .footer_nav_item a {
          padding: 0 10px;
        }
      }
    }
  }
}



@media screen and ($lg) {

}