.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  padding: 0;
  z-index: 5;
  &.active {
    background-color: rgba(235, 64, 44, 0.9);
  }

  .header_wrapper {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  .logo-company {
    @include font(900, 50px, 52px, 'Lato');

    a {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      text-shadow: 0 0 15px #000;
    }
  }

  .top-nav {
    align-self: stretch;
  }

  .top-mnu {
    height: 100%;
  }


}
//_______________________________________________
@media screen and ($lg) {
  .header {
    max-width: 100%;
    .header_wrapper {
      //justify-content: space-around;
    }
  }
}

@media screen and ($md) {
  .header {
    height: 100px;
    .header_wrapper {
      height: 120px;
    }
  }
}

@media screen and ($sm) {

}

@media screen and ($xs) {

}

