.about-contacts-manager {
  border-bottom: 1px solid #e0e0e0;
}

.about-contacts-manager-wrapper {
  max-width: $wrapper;
  margin: 20px auto 200px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .about-contacts-manager_explain{
    flex-shrink: 0;
    flex-basis: 557px;
  }

  .explain_caption {
    @include font(900, 57px, 57px, 'Lato');
    @include text($color: $sec-text-color, $align: left, $decoration: none, $indent: 0, $transform: none);
    margin: 40px 0;
  }

  .about-contacts-manager_picture {
    flex-shrink: 0;
  }

  .about-contacts-manager_picture_scr-shot-behind {
    position: relative;
    top: -50px;
    transition: all 1s;
    margin: 0 0 0 -80px;
    &:hover {
      margin: 0;
    }
  }

  .about-contacts-manager_picture_scr-shot-before {
    position: relative;
    z-index: 1;
    top: 80px;
    transition: all 1s;
  }
}

//________________________________________________________________________________

@media screen and (max-width: 1400px) {
  .about-contacts-manager-wrapper {
    flex-direction: column;
    .about-contacts-manager_explain {
      max-width: 557px;
      flex-basis: 350px;
    }
    .about-contacts-manager_picture {
      max-width: 557px;
      align-self: center;
    }
    .about-contacts-manager_picture_scr-shot-behind {
      margin: 0 0 0 -140px;
      &:hover {
        margin: -80px;
      }
    }
  }
}

@media screen and ($md) {

}

@media screen and ($sm) {

}

@media screen and ($xs) {
  .about-contacts-manager {
    .about-contacts-manager_picture_scr-shot-before {
      display: none;
    }
    .about-contacts-manager_picture_scr-shot-behind {
      top: 0;
      margin: 0;
      &:hover {
        top: 0;
        margin: 0;
      }
    }
    .explain_caption {
      @include font(900, 38px, 38px, 'Lato');
      text-align: center;
    }
    .explain_text {
      padding: 10px;
      text-align: center;
    }
  }
}