.hero {

  .clip-path-block {
    height: 950px;
    padding-top: 200px;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  }

  .slogan {
    max-width: 425px;
    padding: 5px;
    margin: 15px;
    @include font(900, 72px, 72px, 'Lato');
    @include text($color: #fff, $align: left, $decoration: none, $indent: 0, $transform: none);
  }

  .hero_wrapper{
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: start;
  }

  .hero_block-text {
    padding-top: 65px;
  }

  .hero_text {
    max-width: 550px;
    margin: 15px;
    padding: 5px;
    @include font(400, 24px, 28px, 'Lato');
    @include text($color: #fff, $align: left, $decoration: none, $indent: 0, $transform: none);
  }

  .logo-company-text {
    font-weight: 900;
  }

  .call-to-action-btn {
    width: 224px;
    height: 50px;
    margin: 95px 0 0 20px;
    padding: 0;
    border-radius: 25px;
    border: 1px solid white;
    outline: none;
    background-color: #fff;

    &:hover {
      box-shadow: 0 0 15px;

      a {
        color: #000;
      }
    }

    a {
      display: block;
      @include font(700, 18px, 48px, 'Lato');
      @include text($color: $brand-color, $align: center, $decoration: none, $indent: 0, $transform: none);
    }
  }
}

.hero_block-img {
  display: block;
  position: relative;
  max-width: $wrapper;
  margin: 0 auto;
  .preview-img {
    position: absolute;
    bottom: -70px;
    right: 0;
  }
}

//________________________________________________________________________________

@media screen and ($lg) {
  .hero {
    .hero_wrapper{
      max-width: 1070px;

    }
  }
}

@media screen and ($md) {
  .hero {
    .clip-path-block {
      height: 100vh;
      padding-top: 70px;
    }
  }

  .hero_block-img {
    .preview-img {
      width: 40%;
      bottom: -40px;
    }
  }
}

@media screen and ($sm) {
  .toggle_mnu {
    display: none;
  }

}

@media screen and ($xs) {
  .hero {
    .clip-path-block {
      //height: 650px;

    }
    .call-to-action-btn {
      margin: 55px 0 0 20px;
    }
  }
}