table, th, td {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

th {
  min-width: 70px;
  max-width: 100px;
}

td {
  font: 300 12px/18px Arial, sans-serif;
}

.phys_tr {
  letter-spacing: 5px;
  word-spacing: 30px;
}

.t_foot {
  text-align: left;
  font-size: 10px;
}

.num {
  font-size: 18px;
}

.group {
  font-size: 12px;

}