$xs: "min-width: 576px";
$sm: "min-width: 768px";
$md: "min-width: 992px";
$lg: "min-width: 1280px";
$wrapper: 1315px;
$main-color: #eb402c;
$sec-color:  #d90647;
$main-text-color: #808080;
$sec-text-color: #363636;
$main-font: 'Lato';
$sec-font: 'Arial', sans-serif;

